---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { avatar, type CreditDatum, fetchCredits } from "../../weblateClient.ts";
import LinkButton from "../../components/LinkButton.astro";
import Carousel from "../../components/Carousel.vue";
import {getImage} from "astro:assets";
import type {GetImageResult} from "astro";
import { transformer } from "astro:schema";

export const getStaticPaths = async () => {
	const translations = await getCollection("translations");

	return translations.map((translation) => ({
		params: { id: translation.id },
		props: { translation },
	}));
};

const { translation } = Astro.props;
const { Content } = await render(translation);
let stats: CreditDatum[] | undefined;

if (translation.data.weblateComponent) {
	stats = (await fetchCredits(translation.data.weblateComponent)).flatMap(
		(l) => l["French"]
	);
}

const contributionUrl = translation.data.contributionUrl
    || (
        translation.data.weblateComponent
            ? import.meta.env.WEBLATE_CONTRIB_TEMPLATE.replace("{}", translation.data.weblateComponent)
            : undefined
    );

const contributorsUrl = translation.data.contributorsUrl
    || (
        translation.data.weblateComponent
            ? import.meta.env.WEBLATE_CONTRIBUTORS_TEMPLATE.replace("{}", translation.data.weblateComponent)
            : undefined
    );

const carouselImages = await (async () => {
	if (!translation.data.carouselImages) return [];

	const generatedImages: {
		src: string,
		attributes: Record<string, any>,
		caption: string|undefined,
		link: string|undefined
	}[] = [];

	for (const img of translation.data.carouselImages) {
		let origSrc, caption, link;

		if (img.src) {
			origSrc = img
		} else if (img?.image) {
			origSrc = img.image;
			caption = img.caption;
			link = img.link;
		} else {
			throw new Error("Misformatted image in " + JSON.stringify(translation.data.carouselImages));
		}

		const {src, attributes} = await getImage({src: origSrc, height: 1024});
		generatedImages.push({src, attributes, caption, link});
	}

	return generatedImages;
})();

---

<Layout title={translation.data.name}>
	<h1>{translation.data.name}</h1>

	{
		translation.data.carouselImages?.length
		&& <Carousel client:load images={carouselImages} />
	}

	<Content />

	<aside slot="after-main">
        {
            translation.data.externalUrl && (
                <div>
                    <LinkButton href={translation.data.externalUrl} target="_blank">
                        Site web <i class="ph ph-arrow-square-out"/>
                    </LinkButton>
                </div>
            )
        }

        {
            contributionUrl && (
                <div>
                    <LinkButton href={contributionUrl} target="_blank" style="green">
                        Traduire <i class="ph ph-arrow-square-out"/>
                    </LinkButton>
                </div>
            )
        }

		{
			stats && (
				<div class="contributors">
					<h3>Contributeurs</h3>

					{stats.slice(0, 10).map((c) => (
						<div>
							<img alt="" src={avatar(c.username)} height="24" />
							{c.full_name}
						</div>
					))}
					{stats.length > 10 && (
							<a target="_blank" href={contributorsUrl}>
								<i class="ph ph-user-circle" />
								{stats.length - 10} autres contributeurs
							</a>
					)}
				</div>
			)
		}
	</aside>
</Layout>

<style lang="scss">
	@use "../../styles/colors";

	aside {
        display: flex;

        flex-direction: column;
        gap: 0.25em;

		width: 25ch;
		margin-top: 2em;
		padding: 1.5em 1em;

		background-color: colors.$stone-900;

		border: 1px solid colors.$stone-800;
		border-radius: 0.25em;

		& > div {
			&.contributors {
				display: flex;
				gap: 0.25em;
				flex-direction: column;

				div, a {
					display: flex;
					align-items: center;
					gap: 0.5em;
					font-size: 0.75rem;

                    color: colors.$white;
                    text-decoration: none;
                    border-radius: 0.25em;
                    padding: 0.2em;

					img {
						height: 24px;
                        width: 24px;
						border-radius: 50%;
					}

                    .ph-user-circle {
                        font-size: 24px;
                        display: inline
                    }

                    &:hover {
                        background-color: colors.$stone-800;
                    }
				}
			}

            h2, h3, h4, h5, h6 {
                margin-bottom: 0;
            }
		}
	}
</style>
