---
interface Props {
	title: string;
	/**
	 * Recommended length: 150 - 160 characters
	 */
	description: string;
	heroUrl?: string;
}

const {title, description, heroUrl} = Astro.props;

let site = Astro.site?.toString();
site = site?.substring(0, site.length - 1); // remove trailing /

const path = Astro.url.pathname;

const jsonld = {
	"@context": "https://schema.org",
	"@graph": [
		{
			"@type": "WebPage",
			"@id": site + path,
			url: site + path,
			name: title,
			isPartOf: {
				"@id": site + "/#website",
			},
			datePublished: new Date().toISOString(),
			dateModified: new Date().toISOString(),
			description: description,
			breadcrumb: {
				"@id": `${site}${path}#breadcrumb`,
			},
			inLanguage: "fr-FR",
			potentialAction: [
				{
					"@type": "ReadAction",
					target: [site + path],
				},
			],
		},
		{
			"@type": "BreadcrumbList",
			"@id": `${site}${path}#breadcrumb`,
			itemListElement: [
				...[
					{
						"@type": "ListItem",
						position: 1,
						name: "Accueil",
						item: site,
					},
				],
				...(path === "/"
					? []
					: [
						{
							"@type": "ListItem",
							position: 2,
							name: title,
						},
					]),
			],
		},
		{
			"@type": "WebSite",
			"@id": site + "/#website",
			url: site,
			name: "Traductions de Nadeko",
			description: "Traductions de Nadeko",
			publisher: {
				"@id": site + "/#organization",
			},
			inLanguage: "fr-FR",
		},
		{
			"@type": "Person",
			"@id": site + "/#person",
			name: "Nadeko",
			alternateName: "adna",
			url: site,
			sameAs: [],
		},
	],
};
---

<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <!-- FIXME all the metadata -->
    <meta name="description" content={description}/>
    <meta name="theme-color" content="#030311"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="apple-touch-icon" href="https://yttd.fr/favicon-large.png"/>
    <link rel="shortcut icon" href="/favicon-large.png"/>

    <link rel="manifest" href="/manifest.json"/>

    <meta property="og:title" content={title}/>
    <meta property="og:image" content={heroUrl ?? "https://yttd.fr/hero.webp"}/>
    <meta property="og:site_name" content="yttd.fr"/>
    <meta property="og:description" content={description}/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content={title}/>
    <meta name="twitter:description" content={description}/>
    <meta name="twitter:image" content={heroUrl ?? "https://yttd.fr/hero.webp"}/>
    <meta name="twitter:site" content="@YTTDFR"/>

    <link rel="sitemap" href="/sitemap-index.xml"/>

    <script
            is:inline
            type="application/ld+json"
            set:html={JSON.stringify(jsonld)}
    />

    <title>{title}</title>
</head>
<body>
<slot/>
</body>
</html>
